div {
  display: flex;
  flex-direction: column;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  width: fit-content;
}
mat-tab-group {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}
