.signinForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 5px;
}
.signinForm mat-form-field {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
input, input.ng-dirty, input.ng-touched, input.ng-valid, input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
  background-color: rgb(250, 250, 250) !important;
}
mat-icon {
  box-sizing: border-box;
}
button {
  display: flex;
  box-sizing: border-box;
  margin: 10px auto 10px auto;
}
.err-msg {
  display: flex;
  flex-direction: column;
  color: red;
  text-align: center;
}
.success-msg {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  font-size: 10px;
  margin: auto auto 10px auto;
  word-wrap: break-word;
}
.signin-opts {
  margin: 10px auto;
}
span {
  text-align: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}
a {
  text-decoration: none;
}
a:link, a:visited {
  color: white;
  text-align: center; 
  text-decoration: none;
}
mat-accordion {
  width: 100%;
}
