div {
  margin: auto;
  display: flex;
  width: fit-content;
  height: fit-content;
}
/* app-header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
} */
app-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
}
/* app-footer {
  position: fixed;
  top: initial;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: fit-content;
  height: fit-content;
  margin-top: 100px;
  z-index: 3;
} */
